################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Libraries/NStore.Core/obj
/Libraries/NStore.Data/bin
/Libraries/NStore.Data/obj
/Libraries/NStore.Services
/Plugins/NStore.OAuthPlugin.QQ/obj
/Plugins/NStore.PayPlugin.Alipay/obj
/Plugins/NStore.PayPlugin.ChinaBank/obj
/Plugins/NStore.PayPlugin.COD/obj
/Plugins/NStore.PayPlugin.EMSRemit/obj
/Plugins/NStore.PayPlugin.Tenpay/obj
/Presentation/NStore.Web/admin_mall/obj
/Presentation/NStore.Web/admin_store/obj
/Presentation/NStore.Web/bin
/Presentation/NStore.Web/mobile/bin
/Presentation/NStore.Web/mobile/obj
/Presentation/NStore.Web/obj
/Presentation/NStore.Web.Framework/bin
/Presentation/NStore.Web.Framework/obj
/Strategies/NStore.AsynStrategy.ThreadPool/obj
/Strategies/NStore.CacheStrategy.AspNet/obj
/Strategies/NStore.CartStrategy.SqlServer/obj
/Strategies/NStore.ConfigStrategy.File/obj
/Strategies/NStore.EmailStrategy.DotNet/obj
/Strategies/NStore.EventStrategy.Timer/obj
/Strategies/NStore.OrderStrategy.SqlServer/obj
/Strategies/NStore.RandomStrategy.NStore/obj
/Strategies/NStore.RDBSStrategy.SqlServer/obj
/Strategies/NStore.SearchStrategy.SqlServer/obj
/Strategies/NStore.SessionStrategy.AspNetCache/obj
/Strategies/NStore.SMSStrategy.NStore/obj
/Libraries/NStore.Core/bin
.vs/config/applicationhost.config
.vs/NStoreSln/v14/.suo
*.user
/Presentation/NStore.Web/plugins
/NStoreAPI/NStorePublicAPI/bin
/NStoreAPI/NStorePublicAPI/obj/Debug
/NStoreAPI/NStorePublicAPI/plugins
/packages
/Presentation/NStore.Web/App_Data/exlogs
/Presentation/NStore.Web/Log
Presentation/NStore.Web/plugins/NStore.OAuthPlugin.QQ/NStore.OAuthPlugin.QQ.dll
Presentation/NStore.Web/plugins/NStore.OAuthPlugin.QQ/NStore.OAuthPlugin.QQ.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.Alipay/NStore.PayPlugin.Alipay.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.Alipay/NStore.PayPlugin.Alipay.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.ChinaBank/NStore.PayPlugin.ChinaBank.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.ChinaBank/NStore.PayPlugin.ChinaBank.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.COD/NStore.PayPlugin.COD.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.COD/NStore.PayPlugin.COD.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.EMSRemit/NStore.PayPlugin.EMSRemit.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.EMSRemit/NStore.PayPlugin.EMSRemit.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.Tenpay/NStore.PayPlugin.Tenpay.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.Tenpay/NStore.PayPlugin.Tenpay.pdb
NStoreSln.v12.suo
Presentation/NStore.Web/plugins/NStore.OAuthPlugin.QQ/NStore.OAuthPlugin.QQ.dll
Presentation/NStore.Web/plugins/NStore.OAuthPlugin.QQ/NStore.OAuthPlugin.QQ.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.Alipay/NStore.PayPlugin.Alipay.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.Alipay/NStore.PayPlugin.Alipay.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.ChinaBank/NStore.PayPlugin.ChinaBank.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.ChinaBank/NStore.PayPlugin.ChinaBank.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.COD/NStore.PayPlugin.COD.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.COD/NStore.PayPlugin.COD.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.EMSRemit/NStore.PayPlugin.EMSRemit.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.EMSRemit/NStore.PayPlugin.EMSRemit.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.Tenpay/NStore.PayPlugin.Tenpay.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.Tenpay/NStore.PayPlugin.Tenpay.pdb
Presentation/NStore.Web/plugins/NStore.PayPlugin.Tenpay/NStore.PayPlugin.Tenpay.dll
Presentation/NStore.Web/plugins/NStore.PayPlugin.Tenpay/NStore.PayPlugin.Tenpay.pdb

.vs/config/applicationhost.config
Presentation/NStore.Web/App_Data/exlogs/20181114.log
Presentation/NStore.Web/App_Data/exlogs/20181115.log
Presentation/NStore.Web/App_Data/exlogs/20181119.log
.vs/config/applicationhost.config
Presentation/NStore.Web/App_Data/rdbs.config
Presentation/NStore.Web/App_Data/rdbs.config
.vs/config/applicationhost.config
.vs/NStoreSln/v15/.suo
.vs/NStoreSln/v15/Server/sqlite3/db.lock
.vs/NStoreSln/v15/Server/sqlite3/storage.ide
.vs/NStoreSln/v15/Server/sqlite3/storage.ide-shm
.vs/NStoreSln/v15/Server/sqlite3/storage.ide-wal
Presentation/NStore.Web/App_Data/rdbs.config
/Presentation/NStore.Web/upload/store
.vs/config/applicationhost.config
Presentation/NStore.Web/App_Data/rdbs.config
