/*@webSir Css*/

/*index第一部分 #e4393c 220px 990px;*/
#centerdiv {padding:14px 0 0 0px; height:430px;overflow:hidden; width:1210px;}
#indexleft{width:670px;height:430px;}
#indexright{width:302px;height:430px;}
#index1{  height:240px;}
/*#index1{ padding:14px 0 0 220px; height:240px; overflow:hidden; width:990px;}*/
.indexPic{ width:670px; height:240px; }
#bannerBox{position:relative;}
#bannerContentID li{position:relative;}
#bannerNumID{ position:absolute; bottom:15px; right:15px;}
#bannerNumID li{list-style:none;float:left;background:#999999; color:#FFF;-moz-border-radius: 22px;-webkit-border-radius:22px;border-radius: 22px; width:22px; height:22px; line-height:22px; text-align:center; margin-left:5px;}
#bannerNumID li:hover,#bannerNumID li.active{background:#3883da;}

/* 优惠券*/
.couple {float:left;width:205px;height:162px;margin:254px 15px 0 0;background-color:#3897da;}
.couple .desc{
    height:25px;
    font-size:16px;
    font-weight:bold;
    color:black;
    /*background:#3897da;*/
    background: -webkit-linear-gradient(left, red , blue); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, red, blue); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, red, blue); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, red , blue); /* 标准的语法（必须放在最后） */

}
.couple a {width:205px;height:142px;}

/*公告*/
.gonggao{ width:302px; height:55px; border:1px solid #e1e1e1;}
.gonggao h2{ font-size:14px; position:relative; height:30px; line-height:30px; padding-left:30px; background:url(/images/gonggao.jpg) no-repeat 6px 6px; margin-top:2px;}
.gonggao h2 .more{ position:absolute; display:block; width:80px; text-align:center; color:#FFF; background:#d1caca; font-weight:normal; height:20px; line-height:20px; right:10px; top:3px; font-size:12px;}
.gonggao h2 .more:hover{ background:#cd292b;}
.gonggao .textList{ padding-left:25px;}
.gonggao .textList .hidegongao {display:none; }
/*.gonggao h2{ font-size:14px; position:relative; height:35px; line-height:35px; padding-left:30px; background:url(/images/gonggao.jpg) no-repeat 10px 10px; margin-top:5px;}
.gonggao h2 .more{ position:absolute; display:block; width:80px; text-align:center; color:#FFF; background:#d1caca; font-weight:normal; height:20px; line-height:20px; right:10px; top:6px; font-size:12px;}
.gonggao h2 .more:hover{ background:#cd292b;}
.gonggao .textList{ padding:10px; padding-left:20px;}*/

#index2{  height:176px;padding-top:14px;}
/*#index2{padding:14px 0 0 220px; height:176px; overflow:hidden; width:990px;}*/

#index2 .scroll{ border:1px solid #e1e1e1; width:668px; height:160px; position:relative;}
.inScroll{ }
#index2 .scroll ul{  position:absolute; width:10000px;}
#index2 .scroll li{ float:left;}

.bt{ display:block; background:url(/images/lr.jpg) no-repeat left top; width:20px; height:20px; position:absolute;}

body .btL{ background-position:left bottom; left:8px; top:50%; margin-top:-10px;}
html body .btLhot,body .btL:hover{background-position:left top;}
body .btR{ background-position:right bottom;right:8px; top:50%;margin-top:-10px;}
html body .btRhot,body .btR:hover{background-position:right top;}

/*报价入口*/
.baojia {width:320px;height:50px;margin-top:10px;padding-left:95px;background-color:#3897da; border:0 solid;color:#fff; }
.baojia a {font-size:25px;line-height:50px;color: #fff;}

/*未登录用户入口*/
.logoinfo{width:320px;margin-top:10px;}
/*.userinfo .logoregister { width:319px;height:100px;}*/
.logoinfo .logoregister table { width:300px;text-align:center;vertical-align:bottom;border: 0px solid black;border-collapse: collapse;}
.logoinfo .logoregister table thead { font-size:16px;line-height:31px;text-align: left;}
.logoinfo .logoregister table thead .font_b{ color:#3897da;}
.logoinfo .logoregister table tbody { font-size:20px;line-height:51px;margin-top:1px;}
.logoinfo .logoregister table tbody .enter{background-color:#3897da;}
.logoinfo .logoregister table tbody .enter a{color:#fff;}

/*公告下面小广告*/
.indexAd{margin-top:21px; width:302px; border:1px solid #e1e1e1; height:180px;}

/*登陆用户入口*/
.userinfo { width:300px;margin-top:10px;border:1px solid #e1e1e1;height:287px;}
.userinfo table{font-size:18px;width:100%; }
/*.userinfo table tr{display:block;  }*/
.userinfo table tr.base{line-height:47px;text-align:left; }
.userinfo table .second td{background-color:#3897da;text-align:center;}
.userinfo table .second td a{color:#fff; }


.userinfo .productlist {height:100%; margin-top: -16px;}
.userinfo .productlist table{table-layout:fixed;width: 100%;}
.userinfo .productlist table tr{line-height:20px;font-size:15px;}
.userinfo .productlist table tr .pimg{width:50px;}
.userinfo .productlist table tr .centerdes{width:170px;text-overflow: ellipsis; white-space: nowrap;overflow: hidden; }

/*楼层*/

.floor{ margin-top:20px;}
.floorT{ height:35px; font-size:22px; position:relative;line-height:35px; border-bottom:4px solid #3897da;}
.floorT b{ font-size:16px; display:block; float:left;margin-right:10px; background:url(/images/floorB.gif) no-repeat; width:28px; height:32px; text-align:center; line-height:32px; color:#FFF;}
.floorT ul{ position:absolute; left:205px; bottom:-2px;}
.floorT ul li{ float:left;}
.floorT ul li a{ font-size:14px; display:block; width:240px; text-align:center;height:35px; overflow:hidden;_float:left;}
.floorT ul li a:hover,.floorT ul li a.hot{ background:url(/images/itab3.gif) no-repeat bottom;}

.floorBt{ position:absolute; right:0; top:5px;}

.floorBt a{ color:#005EA7; background:url(/images/i.gif) no-repeat right center; font-size:12px; font-weight:normal; padding:0 12px; padding-left:20px;}
.floorBt a:hover{ text-decoration:underline;}
.floorL{ width:205px; height:320px; overflow:hidden; position:relative;}
.floorL ul{ padding:15px 0 15px 15px; *padding:0 0 15px 15px;}
.floorL li{ float:left; width:80px;height:25px; overflow:hidden;padding-right:5px; *margin-top:5px;}
.floorL .more{ display:block; width:180px; margin-left:12px; text-align:center; background:#eaeaea; border:1px solid #dfdfdf;}

.floorAD{ position:absolute; bottom:0px;width:205px; }


.floorR{ width:1004px;height:345px;overflow:hidden;}
.floorCon{ width:1004px; height:345px; position:relative; padding-top:15px; overflow:hidden;}
.floorCon ul{ width:120%; position:absolute; left:0; top:15px;}
.floorCon li{ float:left; margin-right:20px; width:236px;}
.floorCon li em{ display:block;color:#505050;padding-top:5px; height:46px; overflow:hidden;}
.floorCon li b{ display:block; color:#d23335; }
.floorCon li b s{ font-weight:normal; padding-left:10px; color:#505050;}


.floorCon li .btn {
    border: 1px solid #ddd;
    border-radius: 2px;
    /*color: #333;
    background: -webkit-gradient(linear,0 0,0 100%,from(#f7f7f7),to(#f2f2f2));*/
    color: #fff;
    background: #3897da;
    /*padding: 0 10px;*/
    height: 25px;
    line-height: 25x;
    font-size:14px;
    width:75px;
    text-align:center;
}
/*a.btn:link, a.btn:visited{ color:#fff;}*/ 

.floorCon li .addShopping {
    float:left;
   margin-left:10px;
}
.floorCon li .nowbuy {
    float:right;
   margin-right:20px;
}